/* ----------------------------------------------------
Stylesheet for www.dariacode.dev

Updated: 01/29/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */
$spaceColor1: #34143F;
$spaceColor2: #010A1F; 
$navbarColour:rgba(1, 10, 31, 0.95);

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

/*media queries breakpoints for responsive design */
@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    // Medium devices (tablets, 900px and up)
    $tablet-portrait-upper-boundary: 900px;
    // Large devices (desktops, 1200px and up)
    $tablet-landscape-upper-boundary: 1200px;
    // Extra large devices (large desktops, 1800px and up)
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
  }

html {
     background: radial-gradient( $spaceColor1 0%, $spaceColor2 100%);
     font-family: 'Fira Mono', monospace;
     font-size: 8px; // phone only
     @include for-size(tablet-portrait-up) { // 600px and up
       font-size: 10px;
     }
     @include for-size(tablet-landscape-up) { //tablets, 900px and up
       font-size: 12px;
     }
     @include for-size(desktop-up) { //desktops, 1200px and up
       font-size: 16px;
     }
     @include for-size(big-desktop-up) { //large desktops, 1800px and up
       font-size: 18px;
     }
   };

/* background style */
@function multiple-box-shadow ($n) {
    $value: "#{random(2000)}px #{random(2000)}px #FFF";
    @for $i from 2 through $n {
      $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
    }
  @return unquote($value);
  }
  
  $shadows-small:  multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-large:  multiple-box-shadow(100);
  $stars-size-sm: 1px;
  $stars-size-md: 2px;
  $stars-size-lg: 3px;
  
  .stars-small{
    width: $stars-size-sm;
    height: $stars-size-sm;
    background:transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: $stars-size-sm;
      height: $stars-size-sm;
      background: transparent;
      box-shadow: $shadows-small;
      }
  }
  
  .stars-medium{
    width: $stars-size-md;
    height: $stars-size-md;
    background:transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: $stars-size-md;
      height: $stars-size-md;
      background: transparent;
      box-shadow: $shadows-medium;
      }
  }
  
  .stars-large{
    width: $stars-size-lg;
    height: $stars-size-lg;
    background:transparent;
    box-shadow: $shadows-large;
    animation: animStar 150s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: $stars-size-lg;
      height: $stars-size-lg;
      background: transparent;
      box-shadow: $shadows-large;
      }
  }
  /* animation function */
  @keyframes animStar {
    from	{
      transform: translateY(0px);
    }
    to		{
      transform: translateY(-2000px);
    }
  };

/* navigation bar */

.navbar{
    margin: 0;
    padding: 0;
    width: 6.4%;
    @include for-size(desktop-up) { //desktops, 1200px and up
      width: 5.8%;
    }
    background-color: $navbarColour;
    position: fixed;
    height: 100%;
    top: -1px;
    overflow: auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    a {
      display: block;
      color: white;
      padding: 14px;
      text-decoration: none;
      &:hover:not(.active) {
        color: #FE3657;
        .far {
          display: none;
        }
        span {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
        } 
      }
    }
    i {
        font-size: 2.2em;
        }
    span {
        display: none;
        }
    #nav-logo{
        font-size: 3em;
      }
    #nav-links a i{
        font-size: 2em;
      }
    };
nav div a.current {
    color: #FE3657;
    } 
    
 @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      div a {
        float: left;
      }
    }
  };
  
 @media screen and (max-width: 480px) {
    .navbar a {
      text-align: center;
      float: none;
    }
    #nav-links{
      display: none;
    }
  };


#welcome-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include for-size(tablet-landscape-up) { //tablets, 900px and up
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    .greeting{
        display: block;
        color: white;
        font-size: 2.5em;
        padding: 15vh;
        :hover{
            color: blueviolet;
        }
    }  
};  

/* orbit system */

$orbitItemSize: 1.8em;
$map: (ring-0: 4, ring-1: 4, ring-2: 5, ring-3: 3);
$lastRing: 3;

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 30%;
}

.orbit-wrap {
  height: 40em;
  list-style: none;
  font-size: 1.3em;
  > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      ul {
        border-width: 2px;
        border-color: #fff;
      }
      ~ li ul {
        border-color: rgba(255, 255, 255, 0.2);
        li {
          opacity: 0.4;          
        }
      }
    }
    
  }
}

%ring {
  border: solid 1px blueviolet;
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: -$orbitItemSize / 2;
}

ul[class^=ring] {
  @extend %ring;
  transition: all 300ms ease-in-out;
  li {
    @extend %orbiting-object;
    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing) {
  @for $s from 1 through $numItems {  
    /* spread items over the ring */
    $deg: 380deg / $numItems;
    
    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg) translate(10em - ($numRing * 2.5)) rotate(-$s * $deg);
    }
  }
}

/* animations */

@keyframes clockwiseRotate {
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(360deg)
  }
}

@keyframes counterClockwiseRotate {
0% {
  transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}

/* render rings */
@for $i from 0 through $lastRing {  
  .ring-#{$i} {
    /* decrease each ring in size */
    width: 20em - ($i * 5);
    height: 20em - ($i * 5);
    animation: clockwiseRotate 35s - ($i * 5) linear infinite;
    
    i {
      animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
    }
  }
  
  @include orbit-item(map-get($map, ring-#{$i}), $i);
}

/* center */
.orbit-center {
  z-index: 5;
  font-size: 0.9em;
  color: white;
  width: 3em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background-image: radial-gradient(circle, #fcb045, #fd962e, #fe791e, #fe5618, #fd1d1d);
  box-shadow: 0px 0px 60px 40px rgba(255,255,255,0.1);
  border-radius: 50%;

}
.orbit-wrap > li.orbit-center:hover ~ li > ul {
  width: 0;
  height: 0;
  * {
    transform: translate(0, 0);
  }
}


/* icons */
$icons : (
  ('mug-hot', #222, white),
  ('heart', white, red),
  ('laptop-code', white, darkslateblue),
  ('js-square', #323330, #F0DB4F),
  ('react', white, #61dbfb),
  ('npm', white, #CC3534),
  ('node', #303030, #68A063),
  ('python', #4B8BBE, #FFD43B),
  ('css3-alt', white, #2196f3),
  ('html5', white, #e65100),
  ('bootstrap', white, #553C7B),
  ('sass', white, #c69),
  ('github', white, #211F1F),
  ('git', #222, white),
  ('free-code-camp', green, white),
  ('codepen', #333, white)
);

@each $icon in $icons {
  .orbit .fa-#{nth($icon, 1)} {
    background: nth($icon, 2);
    color: nth($icon, 3);
  }
}


#about-section {
    background: yellow;
    .about-section-background{
        display: flex;
        flex-direction: column;
        background: wheat;
        @include for-size(tablet-landscape-up) { //tablets, 900px and up
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
    }
  };

#projects-section{
    background: pink;
    height: 1000px;
    .projects{
        display: flex;
        flex-wrap: wrap;
    }
  };
  
#contacts-section{
    height: 80vh;
    background: grey;
};

footer{
    background: blueviolet;
}
