/* ----------------------------------------------------
Stylesheet for www.dariacode.dev

Updated: 02/05/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */

h1 {
    display: none;
  }
  
  body {
    background: linear-gradient(0deg, black, black, rgb(30, 1, 33),black, black);
    color: rgba(245, 233, 198, 0.81);
    text-align: justify;
    font-family: fantasy;
  }
  h2 {
    color: rgba(245, 188, 19, 0.77);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 0.5px rgba(209, 14, 154, 0.99);
  }
  #img-caption {
    display: none;
  }
  #imgtitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    max-width: 70%;
  }
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    max-width: 35%;
    margin-top: -20%;
  }
  #imgfooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 20%;
    max-width: 40%;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(245, 188, 19, 0.77);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  li a:hover {
    color: rgba(245, 233, 198, 0.81);
    background-color: rgb(30, 1, 33);
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  #main{
    padding: 50px;
    max-width: 1200px;
    margin: auto;
  }
  .button {
    background-color: rgb(30, 1, 33);
    border-color: rgba(245, 188, 19, 0.77) ;
    color: rgba(245, 188, 19, 0.77);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: white; 
    color: rgb(30, 1, 33);
  }
  footer {
    text-align: center;
  }
  
  #spellDisplay {
    text-align: center;
  }
  .stiky {
    position: sticky;
    top: 0;
  }
  .center {
    margin: 25px; 
    padding: 10px;
  }
