/* ----------------------------------------------------
Stylesheet for www.dariacode.dev

Updated: 02/05/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */
$spaceColor1: #34143F;
$spaceColor2: #010A1F; 
$navbarColour:rgba(1, 10, 31, 0.95);
$darkOrange: rgb(225, 77, 29);
$orange: rgb(247, 144, 41);
$yellow: rgb(252, 209, 45);
$blueEyes: rgb(35, 149, 211);
$purple: rgb(135, 15, 144);

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
};

/*media queries breakpoints for responsive design */
@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    // Medium devices (tablets, 900px and up)
    $tablet-portrait-upper-boundary: 900px;
    // Large devices (desktops, 1200px and up)
    $tablet-landscape-upper-boundary: 1200px;
    // Extra large devices (large desktops, 1800px and up)
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
  }

html {
     background: radial-gradient( $spaceColor1 0%, $spaceColor2 100%);
     font-family: 'Fira Mono', monospace;
     font-size: 8px; // phone only
     @include for-size(tablet-portrait-up) { // 600px and up
       font-size: 10px;
     }
     @include for-size(tablet-landscape-up) { //tablets, 900px and up
       font-size: 12px;
     }
     @include for-size(desktop-up) { //desktops, 1200px and up
       font-size: 16px;
     }
     @include for-size(big-desktop-up) { //large desktops, 1800px and up
       font-size: 18px;
     }
   };

/* background style */
@function multiple-box-shadow ($n) {
    $value: "#{random(3000)}px #{random(3000)}px #FFF";
    @for $i from 2 through $n {
      $value: "#{$value} , #{random(3000)}px #{random(3000)}px #FFF";
    }
  @return unquote($value);
  }
  
  $shadows-small:  multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-large:  multiple-box-shadow(100);
  $stars-size-sm: 1px;
  $stars-size-md: 2px;
  $stars-size-lg: 3px;
  
  .stars-small{
    z-index: -1;
    width: $stars-size-sm;
    height: $stars-size-sm;
    background:transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 3000px;
      width: $stars-size-sm;
      height: $stars-size-sm;
      background: transparent;
      box-shadow: $shadows-small;
      }
  }
  
  .stars-medium{
    z-index: -1;
    width: $stars-size-md;
    height: $stars-size-md;
    background:transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 3000px;
      width: $stars-size-md;
      height: $stars-size-md;
      background: transparent;
      box-shadow: $shadows-medium;
      }
  }
  
  .stars-large{
    width: $stars-size-lg;
    height: $stars-size-lg;
    background:transparent;
    box-shadow: $shadows-large;
    animation: animStar 150s linear infinite;
    &:after{
      content: " ";
      position: absolute;
      top: 3000px;
      width: $stars-size-lg;
      height: $stars-size-lg;
      background: transparent;
      box-shadow: $shadows-large;
      }
  }
  /* animation function */
  @keyframes animStar {
    from	{
      transform: translateY(0px);
    }
    to		{
      transform: translateY(-3000px);
    }
  };

/* navigation bar */

.navbar{
    margin: 0;
    padding: 0;
    width: 6.4%;
    @include for-size(desktop-up) { //desktops, 1200px and up
      width: 5.8%;
    }
    background-color: $navbarColour;
    position: fixed;
    height: 100%;
    top: -1px;
    overflow: auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    a {
      display: block;
      color: white;
      text-decoration: none;
      &:hover:not(.active) {
        color: $yellow;// #FE3657;
        .far {
          display: none;
        }
        span {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
        } 
      }
    }
    i {
        font-size: 2.2em;
        }
    span {
        display: none;
        }
    #nav-logo{
        font-size: 3em;
        padding: 0.3em;
      }
    #nav-main a {
      padding: 14px;
    }  
    #nav-links a i{
        font-size: 1.2em;
        padding: 14px;
      }
    };
nav div a.current {
    color: $yellow;//#FE3657;
    } 
    
 @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      div a {
        float: left;
      }
      #nav-main {
        padding: 1em 1em 1em 10em;
      }
      #nav-links{
        padding: 1em;
        a i {
          font-size: 2em;
        }
      }
    }
  };
  
 @media screen and (max-width: 480px) {
    .navbar a {
      text-align: center;
      float: none;
    }
    #nav-links{
      display: none;
    }
  };
#nav-logo img{
  height: 1.63em;
  width: 1.18em;
};


#welcome-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include for-size(desktop-up) { //desktops, 1200px and up
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
      }
    .greeting{
        display: block;
        color: white;
        font-size: 2.4em;
        padding: 15vh 0 0 10vh;
        height: 40vh;
        @include for-size(desktop-up) { //desktops, 1200px and up
          height: auto;
          width: 40vw;
          padding: 30vh 0 0 17vh;
        }
        :hover{
            color: $blueEyes;
        }
        img{
          height: 1.63em;
          width: 1.18em;
        }
        h3 {
          line-height: 1.5em;
        }
    }  
};  

/* orbit system */

$orbitItemSize: 1.6em;
$map: (ring-0: 6, ring-1: 5, ring-2: 5);
$lastRing: 2;

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: 1.4em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 30%;
}

.orbit-wrap {
  height: 40em;
  list-style: none;
  font-size: 1.2em;
  position: relative;
    > li{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    &:hover {
      ul {
        border-width: 2px;
        border-color: #fff;
      }
    }
  }
}

%ring {
  border: solid 1px $blueEyes;
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: -$orbitItemSize / 2;
  img{
    width: 2em;
    height: 2em;
  }
}

ul[class^=ring] {
  @extend %ring;
  transition: all 300ms ease-in-out;
  li {
    @extend %orbiting-object;
    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing) {
  @for $s from 1 through $numItems {  
    /* spread items over the ring */
    $deg: 380deg / $numItems;
    
    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg) translate(15em - ($numRing * 4)) rotate(-$s * $deg);
    }
  }
}

/* animations */

@keyframes clockwiseRotate {
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(360deg)
  }
}

@keyframes counterClockwiseRotate {
0% {
  transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}

/* render rings */
@for $i from 0 through $lastRing {  
  .ring-#{$i} {
    /* decrease each ring in size */
    width: 30em - ($i * 8);
    height: 30em - ($i * 8);
    animation: clockwiseRotate 35s - ($i * 5) linear infinite;
    
    i, img {
      animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
    }
  }
  
  @include orbit-item(map-get($map, ring-#{$i}), $i);
}

/* center */
.orbit-center {
  z-index: 5;
  width: 9em;
  height: 9em;
  box-shadow: 0px 0px 60px 40px rgba(255,255,255,0.1);
  border-radius: 50%;
  position: relative;
  img {
    width: 11em;
    height: 11em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* icons */
$icons : (
  ('js-square', #323330, #F0DB4F),
  ('react', white, #61dbfb),
  ('npm', white, #CC3534),
  ('node', #303030, #68A063),
  ('css3-alt', white, #2196f3),
  ('html5', white, #e65100),
  ('bootstrap', white, #553C7B),
  ('sass', white, #c69),
  ('github', white, #211F1F),
  ('git', #222, white),
  ('free-code-camp', green, white),
  ('codepen', #333, white)
);

@each $icon in $icons {
  .orbit .fa-#{nth($icon, 1)} {
    background: nth($icon, 2);
    color: nth($icon, 3);
  }
}

/* background illustration */
.bg {
  width: 100%;
  height: auto;
  z-index: 101;
  position: relative;
}

.bgd {
  top: 5px;
}

/* button */

.button {
  font-family: 'Fira Mono', monospace;
  font-size: 1em;
  width: 10em;
  height: 2.5em;
  padding: 2px 0;
  border: 3px outset $spaceColor1;
  border-radius: 3px 3px 3px 3px;
  text-decoration: none;
  position: relative;
  z-index: 101;
  &:hover{
    background: #AE87CC;
    box-shadow: -25px 10px 20px -8px rgba(0,0,0,0.65);
   // animation: bounce 2s ease-in-out forwards;
  }
  &:focus {
    outline:0;
  }
}
/*
.shadow{
  display: block;
  width: 20%;
  height: 0px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  background: $purple;
  border-radius: 50%;
  animation: bounce-shadow 2s ease-in-out forwards;
  animation-iteration-count: infinite;

}
@keyframes bounce {
  0%{
    transform: translateY(0px);
    width: 9.5em;
    height: 2.4em;
}
  50%{
    transform: translateY(-10px);
    width: 10.5em;
    height: 2.6em;
}
}

@keyframes bounce-shadow{
  0%{
    width: 1%;
    height: 2px;
    opacity: 0.1;
}
  50%{
    width: 90%;
    height: 6px;
    opacity: 0.3;
  }
  100%{
    width: 1%;
    height: 0px;
    opacity: 0;
  }
}
*/

#about-section {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 5px;
  .about-section-background{
        display: flex;
        flex-direction: column;
        background: #AE87CC;
        @include for-size(desktop-up) { //desktops, 1200px and up
            padding: 0 0 0 14vh;
          }
        @include for-size(tablet-landscape-up) { //tablets, 900px and up
            display: grid;
            grid-template-columns: 0.8fr 1.2fr;
          }
        .photo{
          padding: 3vw 4vh 3vw 4vh;
          @include for-size(tablet-landscape-up) { //tablets, 900px and up
            padding: 3vw 4vh 3vw 8vh;
          }
          text-align: center;
          img {
            width: 28vh;
            @include for-size(desktop-up) { //desktops, 1200px and up
              width: 28vw;
            }
            border: 4px outset $spaceColor1;
            border-radius: 3px 3px 3px 3px;
            box-shadow: -25px 20px 30px -8px rgba(0,0,0,0.65);
          }  
        }
        #about-second{
          font-size: 1.2em;
          padding: 2vw 5vh 2vw 4vh;
          p {
            padding: 1em 0.4em;
          }
          .title{
            font-size: 2em;
            padding: 0.2em;
          }
          .location{
            padding: 0.4em;
            p {
              display: inline;
              padding-left: 1em;
            }
          }
          ul{
              display: grid;
              grid-template-columns: repeat(2, minmax(120px, 250px));
              list-style-position: inside;
              li{
                padding: 0px 10px;
              }
            }
          .btn-container{
            padding: 2em 0.5em 30px 0.5em;

          }
        }
  }
};

#projects-section{
  position: relative;
  z-index: 100;
  background: white;
  //height: 500px;
  font-size: 1.2em;
  .title{
    font-size: 2em;
    padding: 0.6em;
    text-align: center;
    }
  .projects{
    position: relative;
    display: block;
    padding: 1em;
    text-align: center;
    padding: 4em;
    @include for-size(tablet-landscape-up) { //tablets, 900px and up
      padding: 1em 2em 1em 8vw;
    }
    .project{
      display: inline-flex;
      background: #2196f3;
      height: 180px;
      width: 31%;
      margin: 0.8em 0.4em;
      @media screen and (max-width: 768px) {
        width: 47%;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      .card{
        //display: none;
      }
      &:hover{
        background: beige;
        .card{
          //display: inline-flex;
          background: #61dbfb;
        }
      }
     }
    }
  };
  
#contacts-section{
    //height: 80vh;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 0 0 35vh 0;
    @include for-size(tablet-landscape-up) { //tablets, 900px and up
      padding: 1em 2em 25vh 4vw;
    }
    .title{
      font-size: 2em;
      padding: 0.2em;
      text-align: center;
    }
    .contact-links {
      padding: 1em;
      i{
      font-size: 1.2em;
      color: white;
      padding: 0.8em;
      &:hover{
        color: $yellow;
      }
    }
  }
    form{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      input[type=text], textarea {
        font-family: 'Fira Mono', monospace;
        font-size: 1em;
        padding: 10px;
        margin: 20px;
        display: block;
        width: 65vw;
        @include for-size(tablet-landscape-up) { //tablets, 900px and up
          width: 45vw;
        }
      }
  }
};

footer{
    text-align: center;
    color: white;
    padding: 2em;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}